{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Catalog</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        

        /* Recently Viewed section styling */
        .recently-viewed {
            margin-top: 50px;
            padding: 20px;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .recently-viewed h2 {
            margin-bottom: 20px;
            text-align: center;
            color: #343a40;
        }

        .recently-viewed ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .recently-viewed li {
            border-bottom: 1px solid #dee2e6;
            padding: 10px 0;
        }

        .recently-viewed li:last-child {
            border-bottom: none;
        }

        .recently-viewed li a {
            color: #343a40;
        }

        .recently-viewed li a:hover {
            text-decoration: none;
            color: #007bff;
        }

        #items-table img {
        width: 80px; /* Adjust the width as needed */
        height: 60px; /* Adjust the height as needed */
    }

    /* Enlarge rating stars */
    .rating .star {
        font-size: 16px; /* Adjust the font size of the stars */
        margin-right: 5px; /* Add a margin to the right to create space between stars */
        margin-top: 10px; /* Add a margin to the top to create space between stars */
    }

   

    /* Increase width of the rating column */
    #items-table th:nth-child(7),
    #items-table td:nth-child(7) {
        width: 120px; /* Adjust the width of the column as needed */
        text-align: center; /* Center align the content in the column */
    }

    /* Center align all content in table cells */
    #items-table td,
    #items-table th {
        text-align: center; /* Center align all content in table cells */
    }
    body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .content {
            flex: 1;
        }

    .footer {
        flex-shrink: 0;
         width: 100%;
    }
</style>

    </style>
    
</head>
<body>
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                
                <a class="navbar-brand mr-auto" href="/">
                    <img src="\media\item_images\Screenshot_1-removebg-preview.png" width="120" height="50" class="d-inline-block align-top" alt="Logo">
                </a>
    
                <!-- Navbar toggler button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    
                    <ul class="navbar-nav ml-1">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Catalogue</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
                        </li>
                    </ul>
    
                    <!-- Profile, Logout, and Manage buttons. -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cart_page' %}">
                                <i class="bi bi-cart"></i> Cart
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'view_profile' %}">
                                <i class="bi bi-person-circle"></i> Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            {% if user.is_authenticated %}
                                <a class="nav-link" href="{% url 'logout' %}"><i class="bi bi-box-arrow-left"></i> Logout</a>
                            {% else %}
                                <a class="nav-link" href="{% url 'login' %}"><i class="bi bi-box-arrow-right"></i> Login</a>
                            {% endif %}
                        </li>
                          
                        {% if user.is_superuser %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'admin:index' %}">
                                    <i class="bi bi-tools"></i> Manage
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-3">
        <div class="row justify-content-end">
            <div class="col-md-3 text-right">
                <form method="get" action="{% url 'index' %}">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="min_price">Min Price:</label>
                            <input type="number" id="min_price" name="min_price" class="form-control" value="{{ min_price }}" placeholder="Min Price">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="max_price">Max Price:</label>
                            <input type="number" id="max_price" name="max_price" class="form-control" value="{{ max_price }}" placeholder="Max Price">
                        </div>
                        <div class="form-group col-md-2 align-self-end">
                            <button type="submit" class="btn btn-primary">Filter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container mt-4">
            <div class="col-md-12 text-right">
                
                <table id="items-table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Rating</th>
                            <th>Reviews</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in all_items %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td><a href="{% url 'item_detail' item.id %}">{{ item.name }}</a></td>
                                <td>{{ item.category.name }}</td>
                                <td>${{ item.price }}</td>
                                <td>{{ item.description }}</td>
                                <td>
                                    {% if item.image %}
                                        <img src="{{ item.image.url }}" width="50" height="50" alt="Item Image">
                                    {% else %}
                                        No Image Available
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="rating" data-item-id="{{ item.id }}">
                                        {% for i in "12345" %}
                                            {% if i <= item.item_rating %}
                                                <span class="star checked" data-value="{{ i }}">★</span>
                                            {% else %}
                                                <span class="star" data-value="{{ i }}">☆</span>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </td>
                                                             
                                <td>
                                    <span class="rating-count" data-item-id="{{ item.id }}"></span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="recently-viewed">
                    <h2>Recently Viewed</h2>
                    <ul>
                        {% for item in recently_viewed_items %}
                            <li>
                                <a href="{% url 'item_detail' item.id %}">
                                    <img src="{{ item.image.url }}" alt="{{ item.name }}" width="50" height="50">
                                    {{ item.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
<!-- Footer -->
<footer class="bg-dark text-light text-center mt-auto">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-5">
                <a class="navbar-brand mr-auto" href="#">
                    <img src="\media\item_images\Screenshot_1-removebg-preview.png" width="120" height="50" class="d-inline-block align-top" alt="Logo">
                </a>
                <p>&copy; 2023 Groutz. All rights reserved.</p>
            </div>
            <div class="col-md-3">
                <h5>Contact Us</h5>
                <ul class="list-unstyled contact-info">
                    <li><i class="fas fa-envelope"></i> <a href="mailto:Groutz@gmail.com" target="_blank">Groutz@gmail.com</a></li>
                    <li><i class="fas fa-phone"></i> <a href="tel:+11234567890" target="_blank">+1 (123) 456-7890</a></li>
                    <li><i class="fas fa-map-marker-alt"></i> <a href="https://maps.app.goo.gl/Hn8Xg6WEgZJvuKyx7" target="_blank">123 Main Street, Cityville, Country</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Follow Us</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- DataTables JS -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <script>
          $(document).ready(function () {
        const getQueryParam = (name) => {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(name);
        };

        const category = getQueryParam('category');

        $('#items-table').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": [4, 5, 6, 7] } // Disable sorting for Description, Image, Rating, and Reviews columns
            ],
        });
    
            if (category) {
                const table = $('#items-table').DataTable();
                table.search(category).draw();
            }
            $('.rating').each(function () {
                const itemId = $(this).data('item-id');
                const stars = $(this).find('.star');
    
                stars.on('click', function () {
                    const rating = $(this).attr('data-value');
    
                    const csrftoken = document.cookie
                        .split('; ')
                        .find(row => row.startsWith('csrftoken='))
                        .split('=')[1];
    
                    $.ajax({
                        url: `/rate_item/${itemId}/`,
                        method: 'POST',
                        headers: { 'X-CSRFToken': csrftoken },
                        data: { rating: rating },
                        success: function (data) {
                            if (data.message === 'Success') {
                                const newRating = data.new_rating;
    
                                for (let i = 0; i < stars.length; i++) {
                                    if (i < newRating) {
                                        $(stars[i]).text('★');
                                    } else {
                                        $(stars[i]).text('☆');
                                    }
                                }
                            } else {
                                console.error('Failed to update rating');
                            }
                        },
                        error: function (err) {
                            console.error('Error:', err);
                        }
                    });
                });
            });
    
            // Fetch ratings for each item asynchronously
            const itemElements = document.querySelectorAll('.rating');
            itemElements.forEach(item => {
                const itemId = item.getAttribute('data-item-id');
                fetch(`/get_ratings/${itemId}/`)
                    .then(response => response.json())
                    .then(data => {
                        const itemRating = data.rating;
                        const stars = item.querySelectorAll('.star');
    
                        stars.forEach((star, index) => {
                            if (index < itemRating) {
                                star.textContent = '★';
                            } else {
                                star.textContent = '☆';
                            }
                        });
                    })
                    .catch(error => console.error('Error:', error));
            });
    
            // Fetch ratings count for each item asynchronously
            $('.rating-count').each(function () {
                const itemId = $(this).data('item-id');
                const ratingCountContainer = $(this);
    
                $.ajax({
                    url: `/get_ratings_count/${itemId}/`,
                    method: 'GET',
                    success: function (data) {
                        const ratingCount = data.rating_count;
                        ratingCountContainer.text(`(${ratingCount} ratings)`);
                    },
                    error: function (err) {
                        console.error('Error:', err);
                    }
                });
            });
        });
</script>
</body>
</html>